name: dotnot-build-release

on:
  push:
    tags:
      - 'v*'

env:
  SLN_NAME: ytgdq.sln

jobs:
  build:
    name: Build
    runs-on: windows-2022
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Get Version
        id: get_version
        shell: pwsh
        run: |
          $version = $env:GITHUB_REF -replace 'refs/tags/', ''
          echo "version=$version" >> $env:GITHUB_OUTPUT
      - name: Create ChangeLog Text
        id: changelog_text
        uses: dragonish/tag-changelog@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config_file: .github/scripts/tag-changelog-config.cjs
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: ${{ steps.changelog_text.outputs.changes }}
          draft: false
          prerelease: false
